## Combine csv files for year 2019-2022

In [360]:
import os
import glob
import pandas as pd

# Path to the directory containing CSV files
directory_path = './data/2019-2022/'

# List all CSV files in the directory
csv_files = glob.glob(os.path.join(directory_path, '*.csv'))

# Combine CSV files into a single DataFrame
combined_df = pd.concat((pd.read_csv(f) for f in csv_files), ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv(os.path.join(directory_path, 'combined_file.csv'), index=False)

## Read in the 2002-2018 csv file

In [313]:
import pandas as pd

In [314]:
df_1 = pd.read_csv('./data/2002-2018-property-sales-data.csv')
df_1.head()

,PropType,Taxkey,Address,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,Nr_of_rms,Fin_sqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,Commercial,3230461110,2628 N 6TH ST,NaN,6,6258,Commercial Exempt,NaN,2.0,1880,0,1840,1,0,0,0,12750,2002-01,15900
1,Commercial,3590192000,1363 N PROSPECT AV,NaN,3,6262,Mansions With Commercial Usage,NaN,2.0,1876,0,6377,1,0,0,0,11840,2002-01,850000
2,Commercial,4161194000,617 S 94TH ST,NaN,10,6272,Service Building,NaN,1.0,1954,0,5022,1,0,0,0,9700,2002-01,119000
3,Commercial,1719836000,3624 W SILVER SPRING DR,NaN,1,6218,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1955,0,6420,1,0,0,0,8792,2002-01,210000
4,Commercial,3480290000,3830 W LISBON AV,NaN,15,6254,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1909,0,5956,1,0,0,0,4840,2002-01,48500

In [315]:
df_1['Sale_date'] = pd.to_datetime(df_1['Sale_date'], format='%Y-%m')

In [316]:
df_1['Sale_date'] = df_1['Sale_date'].dt.strftime('%Y-%m')

In [317]:
df_1.head()

,PropType,Taxkey,Address,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,Nr_of_rms,Fin_sqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,Commercial,3230461110,2628 N 6TH ST,NaN,6,6258,Commercial Exempt,NaN,2.0,1880,0,1840,1,0,0,0,12750,2002-01,15900
1,Commercial,3590192000,1363 N PROSPECT AV,NaN,3,6262,Mansions With Commercial Usage,NaN,2.0,1876,0,6377,1,0,0,0,11840,2002-01,850000
2,Commercial,4161194000,617 S 94TH ST,NaN,10,6272,Service Building,NaN,1.0,1954,0,5022,1,0,0,0,9700,2002-01,119000
3,Commercial,1719836000,3624 W SILVER SPRING DR,NaN,1,6218,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1955,0,6420,1,0,0,0,8792,2002-01,210000
4,Commercial,3480290000,3830 W LISBON AV,NaN,15,6254,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1909,0,5956,1,0,0,0,4840,2002-01,48500

## Read in the 2019-2022 csv file and make its format consistent with the 2002-2018 csv file

In [318]:
df_2 = pd.read_csv('./data/combined_file.csv')

In [319]:
df_2.head()

,PropType,Taxkey,Address,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,Nr_of_rms,Fin_sqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,Manufacturing,10011000.0,9400 N 124TH ST,NaN,9.0,6300.0,Pole Building,Metal Siding,1.0,2005.0,NaN,18000,1.0,NaN,NaN,NaN,0,3/11/2019,675000
1,Commercial,30023110.0,10545 W DONGES CT,NaN,9.0,6202.0,Warehouse Building - 1 Story,Concrete Block,1.0,1973.0,NaN,27940,5.0,NaN,NaN,NaN,100188,9/13/2019,1300000
2,Residential,40061000.0,9409 N MICHAEL CT,NaN,9.0,40.0,Ranch,Fiber Cement/Hardiplank,1.0,2006.0,9.0,2778,1.0,4.0,2.0,NaN,13831,7/25/2019,350000
3,Residential,40066000.0,9469 N MICHAEL CT,NaN,9.0,40.0,Tudor,Fiber Cement/Hardiplank,2.0,2006.0,9.0,2936,1.0,4.0,2.0,1.0,10607,9/27/2019,380000
4,Residential,50026000.0,9313 N JOYCE AV,NaN,9.0,40.0,Ranch,Aluminum/Vinyl,1.0,1980.0,5.0,1007,1.0,3.0,1.0,NaN,9170,8/23/2019,135000

### Convert to datetime format

In [320]:
df_2['Sale_date'] = pd.to_datetime(df_2['Sale_date'], format='%m/%d/%Y')

In [321]:
df_2.dtypes

PropType                object
Taxkey                 float64
Address                 object
CondoProject            object
District               float64
Nbhd                   float64
Style                   object
Extwall                 object
Stories                float64
Year_Built             float64
Nr_of_rms              float64
Fin_sqft                object
Units                  float64
Bdrms                  float64
Fbath                  float64
Hbath                  float64
Lotsize                 object
Sale_date       datetime64[ns]
Sale_price              object
dtype: object

In [322]:
## Convert to Year, Month format
df_2['Sale_date'] = df_2['Sale_date'].dt.strftime('%Y-%m')

In [323]:
df_2.head()

,PropType,Taxkey,Address,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,Nr_of_rms,Fin_sqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,Manufacturing,10011000.0,9400 N 124TH ST,NaN,9.0,6300.0,Pole Building,Metal Siding,1.0,2005.0,NaN,18000,1.0,NaN,NaN,NaN,0,2019-03,675000
1,Commercial,30023110.0,10545 W DONGES CT,NaN,9.0,6202.0,Warehouse Building - 1 Story,Concrete Block,1.0,1973.0,NaN,27940,5.0,NaN,NaN,NaN,100188,2019-09,1300000
2,Residential,40061000.0,9409 N MICHAEL CT,NaN,9.0,40.0,Ranch,Fiber Cement/Hardiplank,1.0,2006.0,9.0,2778,1.0,4.0,2.0,NaN,13831,2019-07,350000
3,Residential,40066000.0,9469 N MICHAEL CT,NaN,9.0,40.0,Tudor,Fiber Cement/Hardiplank,2.0,2006.0,9.0,2936,1.0,4.0,2.0,1.0,10607,2019-09,380000
4,Residential,50026000.0,9313 N JOYCE AV,NaN,9.0,40.0,Ranch,Aluminum/Vinyl,1.0,1980.0,5.0,1007,1.0,3.0,1.0,NaN,9170,2019-08,135000

## Remove missing values, dropping features and convert necessary dtypes into the correct format before merging

In [324]:
df_2.shape

(26220, 19)

In [325]:
df_2.drop(['CondoProject', 'Taxkey'], axis=1, inplace=True)

In [326]:
df_2.isna().sum()

PropType        10
Address          6
District         4
Nbhd            59
Style           70
Extwall       3572
Stories        131
Year_Built      44
Nr_of_rms     1273
Fin_sqft        77
Units            2
Bdrms         1272
Fbath          657
Hbath         4842
Lotsize          3
Sale_date        2
Sale_price      12
dtype: int64

In [327]:
df_2.dropna(inplace=True)

In [328]:
df_2.isna().sum()

PropType      0
Address       0
District      0
Nbhd          0
Style         0
Extwall       0
Stories       0
Year_Built    0
Nr_of_rms     0
Fin_sqft      0
Units         0
Bdrms         0
Fbath         0
Hbath         0
Lotsize       0
Sale_date     0
Sale_price    0
dtype: int64

In [329]:
df_2.shape

(17399, 17)

In [330]:
df_1.shape

(34523, 19)

In [331]:
df_1.isna().sum()

PropType            3
Taxkey              0
Address             0
CondoProject    27867
District            0
Nbhd                0
Style               6
Extwall          9899
Stories             0
Year_Built          0
Nr_of_rms           0
Fin_sqft            0
Units               0
Bdrms               0
Fbath               0
Hbath               0
Lotsize             0
Sale_date           0
Sale_price          0
dtype: int64

In [332]:
df_1.drop(['CondoProject','Taxkey'], axis=1, inplace=True)

In [333]:
df_1.dropna(inplace=True)

In [334]:
df_1.shape

(24624, 17)

## Convert dtypes into the format of df_1

In [335]:
df_1.dtypes

PropType       object
Address        object
District        int64
Nbhd            int64
Style          object
Extwall        object
Stories       float64
Year_Built      int64
Nr_of_rms       int64
Fin_sqft        int64
Units           int64
Bdrms           int64
Fbath           int64
Hbath           int64
Lotsize         int64
Sale_date      object
Sale_price      int64
dtype: object

In [336]:
df_2.dtypes

PropType       object
Address        object
District      float64
Nbhd          float64
Style          object
Extwall        object
Stories       float64
Year_Built    float64
Nr_of_rms     float64
Fin_sqft       object
Units         float64
Bdrms         float64
Fbath         float64
Hbath         float64
Lotsize        object
Sale_date      object
Sale_price     object
dtype: object

In [338]:
## Dtypes conversion

df_2['District'] = df_2['District'].astype('int64')
df_2['Nbhd'] = df_2['Nbhd'].astype('int64')
df_2['Year_Built'] = df_2['Year_Built'].astype('int64')
df_2['Nr_of_rms'] = df_2['Nr_of_rms'].astype('int64')
# Remove commas and convert 'Fin_sqft' to int
df_2['Fin_sqft'] = df_2['Fin_sqft'].str.replace(',', '').astype('int64')
df_2['Units'] = df_2['Units'].astype('int64')
df_2['Bdrms'] = df_2['Bdrms'].astype('int64')
df_2['Fbath'] = df_2['Fbath'].astype('int64')
df_2['Hbath'] = df_2['Hbath'].astype('int64')
df_2['Lotsize'] = df_2['Lotsize'].str.replace(',', '').astype('int64')
# Remove non-numeric characters and convert 'Sale_price' to int
df_2['Sale_price'] = df_2['Sale_price'].str.replace('[^\d]', '', regex=True).astype('int64')

In [340]:
df_1.dtypes

PropType       object
Address        object
District        int64
Nbhd            int64
Style          object
Extwall        object
Stories       float64
Year_Built      int64
Nr_of_rms       int64
Fin_sqft        int64
Units           int64
Bdrms           int64
Fbath           int64
Hbath           int64
Lotsize         int64
Sale_date      object
Sale_price      int64
dtype: object

In [339]:
df_2.dtypes

PropType       object
Address        object
District        int64
Nbhd            int64
Style          object
Extwall        object
Stories       float64
Year_Built      int64
Nr_of_rms       int64
Fin_sqft        int64
Units           int64
Bdrms           int64
Fbath           int64
Hbath           int64
Lotsize         int64
Sale_date      object
Sale_price      int64
dtype: object

In [350]:
df_1.to_csv('df_1.csv', index=False)
df_2.to_csv('df_2.csv', index=False)

## Merge 2002-2018 with 2019-2022 csv files

In [361]:
# Path to the directory containing CSV files
directory_path = './merged_data/'

# List all CSV files in the directory
csv_files = glob.glob(os.path.join(directory_path, '*.csv'))

# Combine CSV files into a single DataFrame
combined_df = pd.concat((pd.read_csv(f) for f in csv_files), ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv(os.path.join(directory_path, '2002-2022-data.csv'), index=False)